.menu{
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
   height: 94vh;
}
.logo{
    height: 38px;
    width: 38px;
    padding: 11.82px 13.21px;
    display: flex;
    align-items: center;
}
.logoicons{
    font-size: 38px;
}
.menu-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding: 0px 13.21px; */
    padding: 5px;
}
.menu-list .item{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size:38px;
    text-decoration: none;
    font-weight: 600;
    padding: 11px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    color: #27374d;
}
.item1{
    background-color: #dcdbe6;
    color: #5D5FEF !important;
}
.item22{
    position: relative;
}
.ciecle-sec{
    position: absolute;
    bottom: 1px;
    font-size: 10px !important;
    left: 40%;
    color: #FC5C65;
}
.menu-list .item:hover{
    background: #27374d;
    color: #dde6ed;
}